<!DOCTYPE html>
<html>
  <head>
    <title>pagefour</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
              <script src="http://cdn.bootcss.com/echarts/3.2.3/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/resource/echarts-gl-latest/dist/echarts-gl.min.js"></script>
    <link href="static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="static/files/pagefour/styles.css" type="text/css" rel="stylesheet"/>
    <script src="static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="static/resources/scripts/axure/axQuery.js"></script>
    <script src="static/resources/scripts/axure/globals.js"></script>
    <script src="static/resources/scripts/axutils.js"></script>
    <script src="static/resources/scripts/axure/annotation.js"></script>
    <script src="static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="static/resources/scripts/axure/doc.js"></script>
    <script src="static/resources/scripts/messagecenter.js"></script>
    <script src="static/resources/scripts/axure/events.js"></script>
    <script src="static/resources/scripts/axure/recording.js"></script>
    <script src="static/resources/scripts/axure/action.js"></script>
    <script src="static/resources/scripts/axure/expr.js"></script>
    <script src="static/resources/scripts/axure/geometry.js"></script>
    <script src="static/resources/scripts/axure/flyout.js"></script>
    <script src="static/resources/scripts/axure/model.js"></script>
    <script src="static/resources/scripts/axure/repeater.js"></script>
    <script src="static/resources/scripts/axure/sto.js"></script>
    <script src="static/resources/scripts/axure/utils.temp.js"></script>
    <script src="static/resources/scripts/axure/variables.js"></script>
    <script src="static/resources/scripts/axure/drag.js"></script>
    <script src="static/resources/scripts/axure/move.js"></script>
    <script src="static/resources/scripts/axure/visibility.js"></script>
    <script src="static/resources/scripts/axure/style.js"></script>
    <script src="static/resources/scripts/axure/adaptive.js"></script>
    <script src="static/resources/scripts/axure/tree.js"></script>
    <script src="static/resources/scripts/axure/init.temp.js"></script>
    <script src="static/resources/scripts/axure/legacy.js"></script>
    <script src="static/resources/scripts/axure/viewer.js"></script>
    <script src="static/resources/scripts/axure/math.js"></script>
    <script src="static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="static/data/document.js"></script>
    <script src="static/files/pagefour/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'static/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'static/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'static/resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u86" class="ax_default box_1">
        <img id="u86_img" class="img " src="static/images/pagefour/u86.svg"/>
        <div id="u86_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u87" class="ax_default _三级标题">
        <div id="u87_div" class=""></div>
        <div id="u87_text" class="text ">
          <p><span>小声交互 —— 多模态情感识别系统</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u88" class="ax_default label">
        <div id="u88_div" class=""></div>
        <div id="u88_text" class="text ">
          <p><span>中软国际实训之二元一次方程组</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u89" class="ax_default line">
        <img id="u89_img" class="img " src="static/images/index/u2.svg"/>
        <div id="u89_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u90" class="ax_default line">
        <img id="u90_img" class="img " src="static/images/index/u2.svg"/>
        <div id="u90_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u91" class="ax_default label">
        <div id="u91_div" class=""></div>
        <div id="u91_text" class="text ">
          <p><span>首页</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u92" class="ax_default label">
        <div id="u92_div" class=""></div>
        <div id="u92_text" class="text ">
          <p><span>语音情感识别</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u93" class="ax_default label">
        <div id="u93_div" class=""></div>
        <div id="u93_text" class="text ">
          <p><span>声音打分模块</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u94" class="ax_default label" onclick="javascrtpt:window.location.href='http://127.0.0.1:8000/pagethree.html'">
        <div id="u94_div" class=""></div>
        <div id="u94_text" class="text ">
          <p><span>图片情感识别</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u95" class="ax_default" data-left="130" data-top="300" data-width="486" data-height="309">

        <!-- Unnamed (Rectangle) -->
        <div id="u96" class="ax_default button">
          <div id="u96_div" class=""></div>
          <div id="u96_text" class="text ">
            <p><span>示例</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u97" class="ax_default label">
          <div id="u97_div" class=""></div>
          <div id="u97_text" class="text ">
            <p><span>(点击即可播放试听)</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u98" class="ax_default label">
          <div id="u98_div" class=""></div>
          <div id="u98_text" class="text ">
            <p><span>经打分，该条语音的分值为：</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u99" class="ax_default _图片">
          <img id="u99_img" class="img " src="static/images/pagetwo/u37.png"/>
          <div id="u99_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u100" class="ax_default link_button">
          <div id="u100_div" class=""></div>
          <div id="u100_text" class="text ">
            <p><span>90分</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u101" class="ax_default _图片">
          <!-- <img id="u101_img" class="img " src="images/pagetwo/u44.png"/>
          <div id="u101_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div> -->
          <audio src="static/happy.wav" controls="controls">
            Your browser does not support the audio element.
            </audio>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u102" class="ax_default label">
        <div id="u102_div" class=""></div>
        <div id="u102_text" class="text ">
          <p><span>恭喜你击败了 </span><span style="color:#169BD5;">85%</span><span> 的人！</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u103" class="ax_default label">
        <div id="u103_div" class=""></div>
        <div id="u103_text" class="text ">
          <p><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">你可以通过 </span><span style="font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;font-weight:700;">上传语音 </span><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">或&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 获取录音文件的方式对你的声音进行打分，</span></p><p><span style="font-family:'Arial Normal', 'Arial', sans-serif;font-weight:400;">以下是一个示例：</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u104" class="ax_default line">
        <img id="u104_img" class="img " src="static/images/index/u2.svg"/>
        <div id="u104_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u105" class="ax_default" data-left="157" data-top="734" data-width="469" data-height="181">

        <!-- Unnamed (Rectangle) -->
        <div id="u106" class="ax_default label">
          <div id="u106_div" class=""></div>
          <div id="u106_text" class="text ">
            <p><span>经打分，该条语音的分值为：</span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u107" class="ax_default _图片">

        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u108" class="ax_default link_button">
          <div id="u108_div" class=""></div>
          <div id="u108_text" class="text ">
            <p><span>{{ score }}</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u109" class="ax_default label">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
          <p><span>恭喜你击败了 </span><span style="color:#169BD5;">{{ percentage }}</span><span> 的人！</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u110" class="ax_default arrow">
        <img id="u110_img" class="img " src="static/images/pagetwo/u46.svg"/>
        <div id="u110_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>





<form method="post" action="/pagefour.html" enctype="multipart/form-data">
      <!-- Unnamed (Text Field) -->
      <div id="u112" class="ax_default form_hint">
        <img id="u112_img" class="img " src="static/images/pagetwo/u51.svg"/>
        <input id="u112_input" type="file" value="选择文件" class="u112_input" name="soundfile"/>
      </div>
          <!-- Unnamed (Rectangle) -->
      <div id="u111" class="ax_default button">
        <div id="u111_div" class=""></div>
        <div id="u111_text" class="text ">
            <input type="submit" value="立即上传并识别"><br>
        </div>
      </div>


</form>

      <!-- Unnamed (Rectangle) -->
      <div id="u113" class="ax_default button">
        <div id="u113_div" class=""></div>
        <div id="u113_text" class="text ">
          <p><span>立即录音</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u114" class="ax_default label">
        <div id="u114_div" class=""></div>
        <div id="u114_text" class="text ">
          <p><span>语音差异对比</span></p>
        </div>
      </div>
    </div>
    <script src="static/resources/scripts/axure/ios.js"></script>
  </body>
</html>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('u107'));

    option = {

        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        title: {
            text: '音频时域图'
        },
        xAxis: {
            type: 'category',
            data:{{ a }}
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: {{ signal }},
            type: 'line'
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>